@model WebApplicationLab5True.Models.WineryModel


<h2>Добавить вино</h2>

@using (Html.BeginForm("CreateWine", "Winery", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.WineName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.WineName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.WineName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Grape, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Grape, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Grape, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HarvestDate, new { @class = "control-label" })
        @Html.EditorFor(model => model.HarvestDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.HarvestDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Acl, new { @class = "control-label" })
        @Html.EditorFor(model => model.Acl, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Acl, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, new { @class = "control-label" })
        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>
